<section id="introduction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Introduction</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Recommender systems are ubiquitous across many domains such as entertainment, e-commerce, news, social media, fitness, e-commerce and education, and as such, the need to think about the problems at scale is ever growing. As the Scaling Law in Recommender Systems becomes more apparent, the demand for billion-parameter or even trillion-parameter models in Recommender Systems is increasing to unprecedented levels. When implemented within industry settings, these systems encounter many real-world constraints and complexities that require tailored solutions. Designing and maintaining recommender systems that operate at a massive scale come with their own set of distinct algorithmic, systematic, and ethical challenges. 
</p>

        <p>LargeRecSys workshop aims to bridge the gap between state-of-the-art RecSys research and the practical demands of operating large recommender systems at scale. We plan to invite researchers and practitioners from both industry and academia to engage in discussions and challenges inherent in large-scale recommender systems. </p>

      </div>
    </div>
  </div>
</section>
