<section class="success" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Schedule</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="row">
      <table class="minimalistBlack">
        <thead>
          <tr>
            <th>Time</th>
            <th>Topic</th>
            <th>Speaker</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9:00 - 9:05</td>
            <td><strong>Opening Remarks</strong></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>9:05 - 9:35</td>
            <td><strong>Keynote: Putting the "You" in YouTube: Better Personalization through Larger Models</strong></td>
            <td>Lexi Baugher, YouTube</td>
          </tr>
          <tr>
            <td>9:35 - 10:00</td>
            <td><strong>Invited Talk: Creating Reliable Recommender Systems</strong></td>
            <td>Xinghai Hu, TikTok</td>
          </tr>
          <tr>
            <td>10:00 - 10:20</td>
            <td><strong>Invited Talk: TorchRec</strong></td>
            <td>Dennis van der Staay, Meta</td>
          </tr>
          <tr>
            <td>10:20 - 10:30</td>
            <td><strong>Spotlight Talk: WebReco: A Comprehensive Overview of an Industrial Scale Webpage RecSys at Bing</strong></td>
            <td>Jiadev Shah, Microsoft</td>
          </tr>
          <tr>
            <td>10:30 - 11:00</td>
            <td><strong>Coffee Break</strong></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>11:00-11:30</td>
            <td><strong>Keynote: Raising a (teenage) Recommender System: 13 lessons learned</strong></td>
            <td>Justin Basilico, Netflix</td>
          </tr>
          <tr>
            <td>11:30-11:55</td>
            <td><strong>Invited Talk: Inspiring Discovery - Recent Advances in Pinterest's Recommender System</strong></td>
            <td>Jiajing Xu, Pinterest</td>
          </tr>
          <tr>
            <td>11:55-12:20</td>
            <td><strong>Invited Talk: Phases of Recommender Systems</strong></td>
            <td>Chris Johnson, Indeed</td>
          </tr>
          <tr>
            <td>12:20-12:30</td>
            <td><strong>Spotlight Talk: Transformers for Large Scale Sequential Recommendations</strong></td>
            <td>Aleksandr V. Petrov, University of Glasgow</td>
          </tr>
        </tbody>
</table>
    </div>
  </div>
</section>
