<!-- About Section -->
<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Keynote Speakers</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portfolio-item img-responsive text-center">
        <img class="img-responsive img-centered" src="img/speakers/lexi.jpg" alt="Lexi Baugher">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h3 class="text-center">Lexi Baugher</h3>
          <p>Lexi Baugher is a Distinguished Software Engineer at YouTube. She got her Bachelor of Science from Caltech in Engineering and Applied Science. She has worked at Google for 23 years. She is currently the Area Tech Lead of YouTube Discovery, overseeing development of YouTube's recommendation systems. She lives in San Francisco with her husband, kid, and cat; and enjoys baseball, running and baking.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 portfolio-item img-responsive text-center">
        <img class="img-responsive img-centered" src="img/speakers/justin.jpg" alt="Justin Basilico">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h3 class="text-center">Justin Basilico</h3>
          <p>Justin Basilico is a research/engineering director at Netflix. He leads the recommendations algorithms team that does research and development of the machine learning algorithms used to power the core Netflix experience and personalize it for our members worldwide. Prior to Netflix, he worked in the Cognitive Systems group at Sandia National Laboratories. He has an MS in Computer Science from Brown University and a BA in Computer Science from Pomona College.</p>
        </div>
      </div>
    </div>
  </div>
</section>
