<!-- About Section -->
<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Keynote and Invited Speakers</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portfolio-item img-responsive text-center">
        <img class="img-responsive img-centered" src="img/speakers/lexi.jpg" alt="Lexi Baugher">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h3 class="text-center"><a href="https://www.linkedin.com/in/lexibaugher">Lexi Baugher</a></h3>
          <p>Lexi Baugher is a Distinguished Software Engineer at YouTube. She got her Bachelor of Science from Caltech in Engineering and Applied Science. She has worked at Google for 23 years. She is currently the Area Tech Lead of YouTube Discovery, overseeing development of YouTube's recommendation systems. She lives in San Francisco with her husband, kid, and cat; and enjoys baseball, running and baking.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 portfolio-item img-responsive text-center">
        <img class="img-responsive img-centered" src="img/speakers/justin.jpg" alt="Justin Basilico">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h3 class="text-center"><a href="https://www.linkedin.com/in/jbasilico">Justin Basilico</a></h3>
          <p>Justin Basilico is a research/engineering director at Netflix. He leads the recommendations algorithms team that does research and development of the machine learning algorithms used to power the core Netflix experience and personalize it for our members worldwide. Prior to Netflix, he worked in the Cognitive Systems group at Sandia National Laboratories. He has an MS in Computer Science from Brown University and a BA in Computer Science from Pomona College.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 portfolio-item img-responsive text-center">
        <img class="img-responsive img-centered" src="img/speakers/chris.jpg" alt="Chris Johnson">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h3 class="text-center"><a href="https://www.linkedin.com/in/mrchrisjohnson/">Chris Johnson</a></h3>
          <p>Chris Johnson is a Senior Director of Data Science at Indeed where he leads the Match Recommendations organization, powering match recommendations for both Jobseekers and Employers across Indeed surfaces. Chris previously led the Homepage Personalization team at Amazon and the Recommendations team at Spotify and brings over a decade of experience building large scale recommender systems. He completed his Masters degree in Computer Science at The University of Texas at Austin and his research has been featured at top ML conferences including NeuRIPS, AISTATS, and RecSys.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 portfolio-item img-responsive text-center">
        <img class="img-responsive img-centered" src="img/speakers/xinghai.jpg" alt="Xinghai Hu">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h3 class="text-center"><a href="https://www.linkedin.com/in/xinghai-h-80316360/">Xinghai Hu</a></h3>
          <p>Xinghai Hu is the lead of the responsible recommendation system team at TikTok. His work involves building machine learning solutions for user growth, content ecosystem health and diversification, and algorithm trust and responsibility. Before joining TikTok, he worked at Facebook and Netflix. He holds an MS degree from Carnegie Mellon University.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 portfolio-item img-responsive text-center">
        <img class="img-responsive img-centered" src="img/speakers/xinghai.jpg" alt="Jiajing Xu">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h3 class="text-center"><a href="https://www.linkedin.com/in/jiajing-xu-3866a43/">Jiajing Xu</a></h3>
          <p>Jiajing Xu is a senior ML engineering director at Pinterest. He heads the Applied Science team, which brings cutting-edge solutions to the company’s most pressing challenges.  The team tackles challenges in the areas of representation learning, recommendation system, generative AI, graph neural network, and inclusive AI. Prior to his current role, he co-founded the visual discovery team and managed the Ads Ranking team at Pinterest. He holds a Ph.D. and an M.S. from Stanford, and a Bachelor’s degree from Caltech, all in electrical engineering.</p>
        </div>
      </div>
    </div>

  </div>
</section>
